<form>
  <div class="row">
    <div class="col-sm-4">
      Age?
    </div>
    <div class="col-sm-8">
      <select ng-hide="showSecond" ng-change="firstAnswered(firstAnswer)" ng-options="item for item in firstOptions" ng-model="firstAnswer" class="form-control m-b" name="account" ></select> {{firstAnswer}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      How long will your travels be?
    </div>
    <div class="col-sm-8">
      <select ng-hide="showThird" ng-change="secondAnswered(secondAnswer)" ng-options="item for item in secondOptions" ng-model="secondAnswer" class="form-control m-b" name="account" ></select> {{secondAnswer}}
    </div>
  </div>



  <!-- location -->
  <!-- activities -->
  <!-- accessibility -->
  <!-- pet friendliness -->
</form>
